body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body div img {
  margin-left: 0;
}

table {
  width: 100%;
}
thead {
  background-color: black;
  color: #eceff1;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
}

button {
  border-style: none;
  border: 0.5px solid black;
}

button:hover {
  background-color: black;
  color: white;
}

.wrapper {
  display: flex;
}

body div button {
  margin-left: 100px;
  margin-right: 100px;
}

body div button {
  height: auto;
  margin: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

#search {
  margin: 10px;
  background-color: white;
  width: max-content;
  border: 0.5px solid rgb(158, 153, 153);
  border-radius: 10px;
  float: right;
}
#searchInput,
#searchBtn {
  border-style: none;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  outline: 0;
}

.modal-content input {
  width: max-content;
  margin: auto;

  outline: 0;
}
